# Port Number
PORT = 9850

# DB Setting (MySQL)
DB = mysql
DB_HOST = localhost
DB_PORT = 3306
DB_USERNAME = name
DB_PASSWORD = password
DB_DATABASE = test

# Swagger express-basic-auth Authentication
SW_ID = id
SW_PASSWORD = password

# JWT
JWT_SECRET=Thisissamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30